numpy
pandas
matplotlib
werkzeug
Flask
lxml
requests
Flask-HTTPAuth
Flask-Mail
Flask-Reuploaded
pdfkit
waitress
mariadb
zeep
iniconfig
PyQRCode
pypng
python-dotenv
Flask-WTF
brseclabcripto
beautifulsoup4
apprise
gitpython
Flask-RESTful
Flask-Cors
sentry-sdk[flask]
flask-login
logtail-python
Flask-SQLAlchemy