numpy
pandas
matplotlib
werkzeug
Flask
lxml
requests
Flask-HTTPAuth
Flask-Mail
Flask-Reuploaded
pdfkit
waitress
mariadb
zeep
iniconfig
PyQRCode
pypng
python-dotenv
Flask-WTF
brseclabcripto
beautifulsoup4
apprise
gitpython
Flask-RESTful
Flask-Cors
sentry-sdk[flask,loguru]
flask-login
logtail-python
Flask-SQLAlchemy
Flask-Limiter[redis]
Flask-Session
flask-talisman
loguru
Flask-APScheduler
geoip2
minio
boto3
weasyprint
